<ion-view view-title="Intro" class="intro">
  <ion-content style="height: 100%;">

    <div class="main-intro">

      <img  style="width: 235px; margin-top: 13em;" src="../img/logo_vertical_branco.png"></img>
      <br><br>
      <button class="button yellow" ng-click="skipIntro()" href="#/tab/dash" style="width: 50%; margin-top: 0em; border-radius: 40px; color:white">Continuar</button>

      <div style="color:white; margin-top: 6em;">
        <br>
        <span>Informática aplicada ao ensino 2016.2</span>
        <br>
        <span>Aluno: Filipe Oliveira</span>
        <br>
        <span>Professora: Carla Delgado</span>
      </div>
    </div>

  </ion-content>
</ion-view>
